<?xml version="1.0" encoding="UTF-8"?>

<menus>
	<menuitem label="文件">
		<menuitem label="新建" enabled="true" value="0" />
		<menuitem label="保存" enabled="false" value="1" />
		<menuitem label="另存为" enabled="false" value="2" />
	</menuitem>
	
	<menuitem label="扩展" enabled="false">
		<menuitem label="样式管理" value="3" />
	</menuitem>
	
	<menuitem label="帮助">
		<menuitem label="版本说明" value="4" />
		<menuitem label="使用帮助" value="5" />
	</menuitem>
	
</menus>